$primary-background: white;
$input-background: white;
$text-background: white;
$border-color: rgb(120, 120, 120);
$border-color-darker: rgb(90, 90, 90);
$almost-black: rgb(45, 45, 45);

$card-background: white;
$card-hover: rgb(240, 240, 240);

$scrollbar-thumb: rgb(190, 190, 190);
$scrollbar-track: rgb(220, 220, 220);
$buttons-text: black;

a {
  font-weight: 500;
  color: $buttons-text;
  text-decoration: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color: $buttons-text;
  background-color: $primary-background;
  body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0;
    align-items: center;
    div#root {
      margin: 0;
      padding: 0;
    }
  }
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.bigBlank {
  display: block !important;
  margin-bottom: 0.4rem !important;
}

footer {
  margin: 0 0 3px 0;
  text-align: center;
  font-size: 0.938rem;
  span {
    filter: brightness(0) invert(1);
  }
  a {
    color: white;
    font-size: 0.938rem;
  }
  a:hover {
    color: #c2c9d6;
  }
}

.prajapati {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  &.filterHidden {
    grid-template-rows: auto;
  }
}

main {
  display: grid;
  margin: auto !important;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  max-width: 95dvw;
  min-height: 0;
  height: 98%;
  font-size: 1rem;
  &.filterHidden {
    height: 95%;
  }
}

.cards {
  grid-column: 1;
  overflow-y: auto;
  padding: 0 0 0 0;
  height: 100%;
  max-width: 33dvw;
  margin: auto;
  border: 1px solid $border-color;

  .card {
    transition: all 300ms;
    color: $buttons-text;
    border-bottom: 1px solid $border-color;
    // border-right: 1px solid $border-color;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    &:last-child {
      border-bottom: none;
    }
  }

  .card__title {
    padding: 2px;
    font-size: 0.938rem;
    background-color: $card-background;
    flex: 1;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $card-hover;
    }
  }

  p {
    text-align: center;
    padding: 2px;
    margin: 0;
  }
}

.icons {
  left: 1dvw;
  top: 3px;
  position: absolute;
  display: flex;
  gap: 2px;
  * {
    cursor: pointer;
    color: $almost-black;
  }
}

.about__icons {
  position: fixed;
  left: 1dvw;
  top: 5px;
  font-size: 1.1rem;
  * {
    color: $almost-black;
  }
}

.filter {
  margin-top: 4px;
  display: grid;
  justify-content: center;
  width: 100%;
  height: max-content;
  text-align: center;
  position: relative;

  .inputPlusRandom {
    display: grid;
    grid-auto-flow: row;
    gap: 7px;

    .openRandom {
      height: 27px;
      font-size: 0.813rem;
      padding: 0 1em;
      cursor: pointer;
      transition: border-color 0.25s;
      color: $buttons-text;
      margin: 3px 0 1px 0;
      grid-column: 2;
      background-color: $input-background;
      border: 1px solid $border-color-darker;
      outline: none;
      font-family: Inter, Calibri, Verdana, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
      border-radius: 4px;
      &:hover {
        background-color: $card-hover;
        outline: none;
      }
    }

    .inputPlusCheckbox {
      display: flex;
      margin: 3px 0 1px 0;
      height: 27px;

      input[type='search'] {
        height: 100%;
        background-color: $input-background;
        border: 1px solid $border-color-darker;
        outline: none;
        font-family: Inter, Calibri, Verdana, system-ui, Avenir, Helvetica,
          Arial, sans-serif;
        border-radius: 4px;
        text-align: center;
        font-size: 0.813rem;
        padding: 3px 0;
        color: $buttons-text;
        // &:hover {
        //   border: 1px solid #c2c9d6;
        //   transition: border-color 0.25s;
        // }
        &:focus {
          // border: 1px solid #c2c9d6;
          outline: none;
        }
        &::placeholder {
          color: $border-color;
          font: inherit;
        }
        &::-moz-placeholder {
          color: $border-color;
          font: inherit;
          opacity: 1;
        }
      }

      input[type='checkbox'] {
        cursor: pointer;
        accent-color: $buttons-text;
      }
    }
  }

  .countResults {
    font-style: italic;
    grid-column: 1;
    @media (max-height: 500px) {
      font-size: 0.75rem !important;
    }
  }
}

@media (max-height: 500px) {
  .scalable {
    height: 24px !important;
    font-size: 0.75rem !important;
    margin: 1px 0 !important;
    * {
      font-size: 0.75rem !important;
    }
  }
  .scalable-icons {
    left: 3px;
    top: 3px;
    * {
      font-size: 0.9rem !important;
    }
  }
}

.arrow {
  font-size: 11px;
  padding: 3px;
  border-radius: 50%;
  background-color: $input-background;
  border: 1px solid $border-color-darker;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1dvw;
  top: 6px;
  cursor: pointer;
  z-index: 5;
  &:hover {
    background-color: $card-hover;
  }
  &.toggle {
    transform: rotate(180deg);
  }
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50dvh;
  &__main {
    max-width: 600px;
    margin: auto;
    @media (max-width: 600px) {
      max-width: 90vw;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      color: black;
    }
    i {
      font-size: 12px !important;
    }
  }
}

*::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  right: 1px;
  height: 10px;
  width: 10px;
  background-image: url('./cross.svg');
  background-size: 10px 10px;
  &:hover {
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
}

.modal-scrollable-content {
}

.modal-content {
  position: relative;
  padding: 4dvh 4dvw;
  border: 1px solid $border-color;
  overflow-y: auto;
  max-width: 630px;
  grid-column: 2;
  height: 100%;
  background: $text-background;
  // border-radius: 5px;
  margin: auto;
  color: black;
  text-align: left;
  a {
    font-size: 1rem;
    color: #565656;
    &:hover {
      color: black;
    }
  }
}

span.external-link {
  content: url('./external-link.svg');
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 2px;
}

.modal-close {
  font-size: 1.188rem;
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  background: none;
  border: none;
  cursor: pointer;
  color: $border-color-darker;
  &:hover {
    color: $border-color;
  }
}

.modal-content h2 {
  margin-top: 4px;
  margin-bottom: 3px;
  line-height: 1.5rem;
  text-align: center;
}

.modal-content p {
  margin-top: 10px;
  margin-bottom: 4px;
}
